.column {
	display: flex;
	justify-content: center;
	gap: 28px;
	margin: 0 5rem;
	max-width: 50rem;
}

.column img {
	max-width: 300px;
	box-shadow: 5px 5px 5px white;
}

.title h1 {
	font-size: 3rem;
}

@media screen and (max-width: 800px) {
	.column {
		flex-wrap: wrap;
		width: 60%;
	}
	.title {
		text-align: center;
	}
}