.column {
    column-count: 3;
    margin: 0 5rem;
}

.column h1 {
    column-span: all;
    text-align: center;
}

@media screen and (max-width: 600px){
    .column {
        column-count: 1;
        margin: 0 5rem;
    }
}