header {
    width: 100%;
    background: url(../assets/HeaderArt.jpeg);
    background-size: cover;
    margin: 0;
}

.titlebox {
    padding-top: 5rem;
    padding-bottom: 5rem;

    border-bottom: 1px rgba(255, 255, 255, .5) solid;

    text-align: center;
}

.titlebox img {
    max-width: 100%;
    height: auto;
}

.navbar {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.8);

    border-bottom: 1px rgba(255, 255, 255, .5) solid;

    justify-content: center;
    gap: 28px;
}

.navitem {
    padding: 5px;
    border-radius: 5px;
    transition: .2s ease-in;
    color: #B5B7B7;
    font-weight: 500;
    font-size: 1rem;
}

.navitem:hover {
    color: #f8f8f8;
}