@font-face {
    font-family: DINNext;
    src: url("../assets/DIN Next LT Pro Regular.ttf");
}

* {
    font-family: DINNext, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;

    background: url(../assets/background-stars.jpeg);
    background-position: center top;
    background-repeat: repeat;
    color: white;
}

.pageWrapper {
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}

footer {
    border-top: 1px rgba(255, 255, 255, .5) solid;
    padding: 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, .3);
    position: absolute;
    bottom: 0;
    height: 5rem;
}